.link.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding: 2rem;
  gap: 1rem;
  background-image: url("../images/bg-boost-mobile.svg");
  background-color: var(--primary-clr-dark);
  border-radius: 1rem;
  margin: 2rem;
}

.link.container input,
button {
  width: 100%;
}

.link.container span {
  color: var(--secondary-clr-red);
  font-style: italic;
  justify-self: left;
}

.link.container input.block {
  border: 3px solid var(--secondary-clr-red);
}

@media (min-width: 1024px) {
  .link.container {
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    background-image: url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .link.container .col {
    width: 100%;
  }
  .link.container .col input {
    height: 100%;
  }
}
